.container {

  display: flex;
  flex-direction: column;

  padding: 120px 50px 100px 50px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  width: 70%;
  margin: auto;
}

h1 {
  margin: 20px 16px 30px 10px;
  font-family: "Avenir Next", serif;
  font-weight: bold;
}

.cart-products{
  min-width: 80%;
}

th {
  font-weight: bold;
}

.users-table {
  padding: 20px;
  border-collapse: collapse;
}

.users-table-cell {
  padding: 8px;
}

.empty-cart {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: auto;
}

.empty-cart .text {
  margin: 50px;
}

.empty-cart button {
  margin: 50px;
}

ng-container .actions {
  width: 10%;
}

tr > td.mat-mdc-footer-cell.mdc-data-table__cell.cdk-footer-cell.cdk-column-title.mat-column-title,
tr > td.mat-mdc-footer-cell.mdc-data-table__cell.cdk-footer-cell.cdk-column-price.mat-column-price{
  font-weight: bold;
}
