.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  z-index: 10;
}

.toolbar {
  display: flex;
  align-items: center;

  &.button {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.no-select {
  cursor: pointer;
  user-select: none;
}

.toolbar mat-icon {
  margin-right: 10px;
}
