<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select">
      <mat-icon class="icon" aria-hidden="false">
        <span class="material-symbols-outlined">storefront</span>
      </mat-icon>
      <span>WHITE MARKET</span>
    </div>
    <span class="spacer"></span>

    <div class="toolbar no-select">
      <button class="toolbar button" mat-button routerLink="catalog">CATALOG</button>
      <button class="toolbar button" mat-button routerLink="admin">ADMIN</button>
      <button class="toolbar button" mat-button routerLink="basket">
        <mat-icon class="icon" aria-hidden="false">
          <span class="material-symbols-outlined">shopping_basket</span>
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
