.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 120px 50px 100px 50px;
}

.catalog-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products {
  display: flex;
}

.visibility-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 30px 11px 20px 10px;

}

.filter-box, .limit-sort-box {
  display: flex;
  flex-direction: row;
}

.sort {
  width: 100px;
  margin-right: 20px;
}

h1 {
  margin: 20px 16px 0 10px;

  font-weight: bold;
}
