.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 50px;

  background-color: whitesmoke;
}

.catalog-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products {
  display: flex;
  /*justify-content: center;*/
}

.visibility-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 11px 0 10px;
}

.filter-box, .limit-sort-box {
  /*margin-bottom: 20px;*/

  display: flex;
  flex-direction: row;
}

input, select {
  margin: 20px 0 30px 0;
}

h1 {
  margin: 20px 16px 0 16px;

  font-weight: bold;
}

.limit-selector, .filter {
  margin-right: 20px;
}
