<div class="container">

    <h1>Catalog</h1>

    <div class="visibility-controls">

      <div class="filter-box">
<!--        <div class="filter">-->
<!--          <input-->
<!--            type="text"-->
<!--            name="filter"-->
<!--            id="filter"-->
<!--            placeholder="search..."-->
<!--            (input)="filterProductsByPattern($event)">-->
<!--        </div>-->

        <select (change)="filterProductsByCategory($event)"
                id="filterByCategory"
                class="category-selector"
                [(ngModel)]="preSelectedCategory">
          <label for="filterByCategory">Category: </label>
          <option value="" selected>all</option>
          <option *ngFor="let string of categories" [value]="string">{{ string }}</option>
        </select>
      </div>

      <div class="limit-sort-box">
        <div class="limit-selector">
          <label for="limit">Limit: </label>
          <select (change)="loadProducts()"
                  id="limit"
                  name="limit"
                  [(ngModel)]="selectedLimit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="sort-selector">
          <label for="sort">Sort: </label>
          <select (change)="loadProducts()"
                  id="sort"
                  name="sort"
                  [(ngModel)]="selectedSort">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>
      </div>
    </div>

  <div class="products">

    <div class="catalog-box">
      <app-product-card
        *ngFor="let item of visibleProducts"
        [product]="item">
      </app-product-card>
    </div>
  </div>

</div>
