<div class="container">

  <h1>Catalog</h1>

  <form class="visibility-controls" [formGroup]="filtersForm">

    <div class="filter-box">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryName" class="category-selector">
          <mat-option [value]="">all</mat-option>

          @for (category of catalogService.categories; track category) {
            <mat-option [value]="category">{{category}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="limit-sort-box">
      <mat-form-field class="sort">
        <mat-select
          id="sort"
          formControlName="sort">
          <mat-option value="asc">Asc</mat-option>
          <mat-option value="desc">Desc</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="limit-selector">
        <mat-button-toggle-group class="limit"
          formControlName="limit"
          name="fontStyle"
          aria-label="Font Style">
          <mat-button-toggle value="5">5</mat-button-toggle>
          <mat-button-toggle value="10">10</mat-button-toggle>
          <mat-button-toggle value="20">20</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </form>

  <div class="products">

    <div class="catalog-box">
      <app-product-card
        *ngFor="let item of catalogService.visibleProducts$ | async"
        [product]="item">
      </app-product-card>
    </div>
  </div>

</div>
