<div class="container">
  <h2>Carts list</h2>

  <table mat-table>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Cart ID</th>
      <td mat-cell *matCellDef="let cart">{{cart.id}}</td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let cart">{{cart.userId}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let cart">{{cart.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="products">
      <th mat-header-cell *matHeaderCellDef>Products</th>
      <td mat-cell *matCellDef="let cart">
        <div *ngFor="let item of cart.products">
          <p>Product ID: {{item.productId}}</p>
          <p>Quantity: {{item.quantity}}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let cart">{{ cart.total | currency:'USD' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns.concat('total')"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns.concat('total')"></tr>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
</div>
