.container {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin: 50px;

  padding: 50px;

  background-color: white;

  border-radius: 10px;

  box-shadow: 1px 1px 3px grey;
}

td div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

th {
  font-weight: bold;
}

td div p:nth-child(1) {
  margin-right: 10px;
}

tr > td.mat-mdc-footer-cell.mdc-data-table__cell.cdk-footer-cell.cdk-column-date.mat-column-date,
tr > td.mat-mdc-footer-cell.mdc-data-table__cell.cdk-footer-cell.cdk-column-totalPrice.mat-column-totalPrice{
  font-weight: bold;
}
