.product-card {
  width: 300px;
  height: 520px;
  padding: 15px;
  margin: 11px;

  display: flex;
  flex-direction: column;
}

mat-card-title {
  display: -webkit-box;
  max-width: 2000px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

mat-card-content {
  max-width: 100%;
  margin-top: auto;
}

.product-details-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.product-details {
  flex-direction: column;
}

mat-card-actions {
  justify-content: space-between;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

mat-card-content img {
  height: 200px;
  width: auto;
}

.product.button.buy {
  background-color: seagreen;
  color: white;
}

.product.button.more {
  background-color: whitesmoke;
}
