<div class="container">
  <mat-card class="product-card">
    <div class="product-details-group">
      <mat-card-header>
        <mat-card-title>{{ product.title | truncate:37 }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-md-image src="{{product.image}}" alt="productImage">
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        <p>{{ product.description.slice(0, 75) }}</p>
        <h3 class="price">{{ product.price | currency }}</h3>
      </mat-card-content>
    </div>
    <mat-card-actions>
      <a class="product button more" mat-button [routerLink]="[product.id]">More</a>
      <button class="product button buy" mat-raised-button color="accent">Buy</button>
    </mat-card-actions>
  </mat-card>
</div>
